*, *:before, *:after { 
	box-sizing: border-box; 
	margin: 0; 
	padding: 0; 
	font-size: 1em;
	}
h1 { font-size: 2em; }
h3 { font-size: 1.6em; }


html, body {
	min-width: 100vw;
	min-height: 100vh;
	background: rgba(34, 34, 34, 1); 
	}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 0;
	}

main {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	opacity: 0;
	z-index: 1;
	}

.intro,
.movies {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	}
.intro {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	transform: translate3d(0, -200%, 0);
	transition: transform 0.5s ease-in-out;
	}
.movies {
	transform: translate3d(-200%, 0, 0);
	transition: transform 0.5s ease-in-out;
	}

.show {
	transform: translate3d(0, 0, 0);
	transition: transform 0.5s ease-in-out;
	}

button {
	background: rgba(0, 0, 0, 0); 
	border: none; 
	padding: 0.4em; 
	color: rgba(240, 240, 240, 1);
	cursor: pointer;
	}
button:hover {
	background: rgba(0, 0, 0, 0); 
	border: none; 
	padding: 0.4em; 
	color: rgba(240, 240, 240, 0.5);
	}



.movies_content {
	width: 100%;
	height: 100%;
	}
.movies_header {
	background: rgba(65, 74, 76, 0.9);
	position: fixed;
	width: auto;
	height: 60px;
	top: 0;
	right: 7%;
	padding: 0 0.6em;
	border-radius: 0 0 4px 4px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	z-index: 3;
	}
.movies_header button {
	margin: 0.4em;
	}
.movies_section {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 350px;
	width: 100%;
	height: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
	z-index: 2;
	}



.movie {
	position: relative;
	width: 300px;
	height: 440px;
	margin: 24px 24px 0 0;
	overflow: hidden;
	border-radius: 3px;
	background: rgba(65, 74, 76, 0);
	box-shadow: 0px 0px 18px 0 rgba(250, 250, 250, 0.15); 
	z-index: 3;
	}
.movie img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 4;
	}
.movie .movie_btn {
	position: absolute;
	bottom: 10%;
	left: 36%;
	color: rgba(194, 22, 22, 0.4);
	z-index: 5;
	transition: color 0.15s linear;
	}

.movie:hover .movie_btn {
	color: rgba(194, 22, 22, 0.9);
	}
.movie .movie_trailer { display: none; }


.intro_quote {
	min-width: 400px;
	max-width: 1200px;
	padding: 1em 1.6em;
	border-radius: 8px;
	box-shadow: 0px 0px 18px 0 rgba(250, 250, 250, 0.25);
	}
.intro_quote h1 {
	font-family: 'Scope One', serif;
	font-weight: 500;
	text-align: center;
	}
.intro_quote h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	text-align: center;
	}

.intro_btns { margin-top: 1em; }






.trailer {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.80);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	z-index: 10;
	}
.trailer .trframe {
	width: 75vw;
	height: 60vh;
	border: none;
	box-shadow: 0px 0px 20px 0px rgba(237, 237, 237, 0.3);
	}

.off { display: none; }















.spinner {
	position: fixed;
	top: 10%;
	left: calc(50% - 35px);
	margin: 100px auto 0;
	width: 70px;
	text-align: center;
	}

.spinner > div {
	width: 18px;
	height: 18px;
	background-color: rgba(250, 250, 250, 1);
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
	}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
	}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
	}

@keyframes sk-bouncedelay {
0%, 80%, 100% { 
	-webkit-transform: scale(0);
	transform: scale(0);
	} 40% { 
	-webkit-transform: scale(1.0);
	transform: scale(1.0);
	}
	}



@media screen and (max-width: 760px) {
	h1 { font-size: 1.4em; }
	h3 { font-size: 1em; }
	}

@media screen and (max-width: 1200px) {
	.intro_quote { 
		border-radius: 0; }
		}








.cl-0 {
	background: rgba(237, 237, 237, 0.8);
	color: rgba(65, 74, 76, 1);
	}
.cl-1 {
	background: rgba(23, 128, 109, 0.8);
	color: rgba(237, 237, 237, 1);
	}
.cl-2 {
	background: rgba(21, 128, 120, 0.8);
	color: rgba(237, 237, 237, 1);
	}
.cl-3 {
	background: rgba(28, 169, 201, 0.8);
	color: rgba(237, 237, 237, 1);
	}
.cl-4 {
	background: rgba(25, 158, 189, 0.8);
	color: rgba(237, 237, 237, 1);
	}
.cl-5 {
	background: rgba(149, 145, 140, 0.8);
	color: rgba(237, 237, 237, 1);
	}
.cl-6 {
	background: rgba(35, 35, 35, 0.8);
	color: rgba(237, 237, 237, 1);
	}
.cl-7 {
	background: rgba(65, 74, 76, 0.8);
	color: rgba(237, 237, 237, 1);
	}
.cl-8 {
	background: rgba(151, 154, 170, 0.8);
	color: rgba(35, 35, 35, 1);
	}
.cl-9 {
	background: rgba(115, 102, 189, 0.8);
	color: rgba(237, 237, 237, 1);
	}
.cl-10 {
	background: rgba(120, 81, 169, 0.8);
	color: rgba(237, 237, 237, 1);
	}
.cl-11 {
	background: rgba(59, 176, 143, 0.8);
	color: rgba(35, 35, 35, 1);
	}
.cl-12 {
	background: rgba(31, 206, 203, 0.8);
	color: rgba(35, 35, 35, 1);
	}
.cl-13 {
	background: rgba(28, 211, 162, 0.8);
	color: rgba(35, 35, 35, 1);
	}
.cl-14 {
	background: rgba(29, 172, 214, 0.8);
	color: rgba(35, 35, 35, 1);
	}
.cl-15 {
	background: rgba(43, 108, 196, 0.8);
	color: rgba(237, 237, 237, 1);
	}
.cl-16 {
	background: rgba(26, 72, 118, 0.8);
	color: rgba(237, 237, 237, 1);
	}
.cl-17 {
	background: rgba(162, 173, 208, 0.8);
	color: rgba(35, 35, 35, 1);
	}
.cl-18 {
	background: rgba(205, 197, 194, 0.8);
	color: rgba(35, 35, 35, 1);
	}
.cl-19 {
	background: rgba(197, 227, 132, 0.8);
	color: rgba(35, 35, 35, 1);
	}
.cl-20 {
	background: rgba(239, 219, 197, 0.8);
	color: rgba(35, 35, 35, 1);
	}
.cl-21 {
	background: rgba(255, 189, 136, 0.8);
	color: rgba(35, 35, 35, 1);
	}
.cl-22 {
	background: rgba(61, 25, 41, 0.8);
	color: rgba(255, 255, 255, 1);
	}
.cl-23 {
	background: rgba(71, 0, 32, 0.8);
	color: rgba(255, 255, 255, 1);
	}
.cl-24 {
	background: rgba(134, 50, 2, 0.8);
	color: rgba(255, 255, 255, 1);
	}
.cl-25 {
	background: rgba(252, 130, 64, 0.8);
	color: rgba(35, 35, 35, 1);
	}
.cl-26 {
	background: rgba(255, 207, 171, 0.8);
	color: rgba(35, 35, 35, 1);
	}
.cl-27 {
	background: rgba(255, 207, 72, 0.8);
	color: rgba(35, 35, 35, 1);
	}
.cl-28 {
	background: rgba(253, 252, 116, 0.8);
	color: rgba(35, 35, 35, 1);
	}
.cl-29 {
	background: rgba(135, 169, 107, 0.8);
	color: rgba(35, 35, 35, 1);
	}
.cl-30 {
	background: rgba(138, 121, 93, 0.8);
	color: rgba(237, 237, 237, 1);
	}
.cl-31 {
	background: rgba(159, 129, 112, 0.8);
	color: rgba(237, 237, 237, 1);
	}
.cl-32 {
	background: rgba(255, 130, 67, 0.8);
	color: rgba(237, 237, 237, 1);
	}
.cl-33 {
	background: rgba(85, 48, 67, 0.8);
	color: rgba(237, 237, 237, 1);
	}
.cl-34 {
	background: rgba(100, 48, 112, 0.8);
	color: rgba(237, 237, 237, 1);
	}
.cl-35 {
	background: rgba(75, 31, 57, 0.8);
	color: rgba(237, 237, 237, 1);
	}
.cl-36 {
	background: rgba(69, 37, 143, 0.8);
	color: rgba(237, 237, 237, 1);
	}
.cl-37 {
	background: rgba(146, 47, 47, 0.8);
	color: rgba(237, 237, 237, 1);
	}
.cl-38 {
	background: rgba(88, 120, 188, 0.8);
	color: rgba(237, 237, 237, 1);
	}
.cl-39 {
	background: rgba(32, 83, 30, 0.8);
	color: rgba(237, 237, 237, 1);
	}