*, *:before, *:after { 
	box-sizing: border-box; 
	margin: 0; 
	padding: 0;
	color: rgba(34, 34, 34, 1);
	}

html, body {
	min-width: 480px;
	width: 100vw;
	height: 100vh;
	background: rgba(7, 7, 7, 1); 
	overflow: hidden;
	}
h1,
h2,
h3 { 
	font-family: 'Scope One', Verdana, Geneva, Tahoma, sans-serif; 
	font-weight: 500;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	}
h2, h3 { letter-spacing: 1px; }
p { 
	font-family: Lato, Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.2em; 
	text-decoration: none; 
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	}
small {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	}
a, a:focus, a:active { 
	font-family: Lato, Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.2em; 
	color: rgba(173, 173, 214, 1);
	text-decoration: none; 
	text-shadow: 1px 1px 0 rgba(250, 250, 250, 0.5); 
	transition: all 0.15s linear;
	}
a:hover { 
	color: rgba(222, 222, 240, 1); 
	text-shadow: 1px 1px 4px rgba(250, 250, 250, 0.75);
	}

button { 
	border: none; 
	background: rgba(34, 34, 34, 0);
	cursor: pointer;
	}
button > svg > path { fill: rgba(173, 173, 214, 1); transition: all 0.15s linear; }
button:hover > svg > path { fill: rgba(222, 222, 240, 1); }
	
main {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-width: 440px;
	overflow: hidden;
	background: rgba(255, 255, 0, 0);
	margin: 20px;
	z-index: 10;
	}

section {
	position: relative;
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
	}

.section {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}
.home { 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	transform: translate3d(0, -200%, 0);
	opacity: 0;
	}
.movies {
	transform: translate3d(-200%, 0, 0);
	background: rgba(255, 255, 255, 0.1);
	opacity: 0;
	}
.games {
	transform: translate3d(0, 200%, 0);
	background: rgba(255, 255, 255, 0.1);
	opacity: 0;
	}
.contact {
	transform: translate3d(200%, 0, 0);
	background: rgba(255, 255, 255, 0.1);
	opacity: 0;
	}
.visible { transform: translate3d(0, 0, 0); opacity: 1; }


.home_btns {
	width: 160px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	}


.section > .header {
	width: 100%;
	height: 50px;
	text-align: center;
	padding: 8px;
	filter: none;
	}
.section > .header > button { margin-right: 8px; }
.section > .header > button:last-of-type { margin-right: 0; }
.section > .content {
	width: 100%;
	height: calc(100% - 50px);
	padding: 20px;
	overflow-y: auto;
	}
.section > .content > * { color: rgba(250, 250, 250, 1); }

.trailer {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.80);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	z-index: 10;
	}
.trailer .trframe {
	width: 75vw;
	height: 60vh;
	border: none;
	box-shadow: 0px 0px 20px 0px rgba(237, 237, 237, 0.3);
	}

.off { display: none; }



.quote {
	position: fixed;
	width: 60%;
	top: 0;
	left: 0;
	transform: translate3d(-180%, 75%, 0);
	}
.quote h3, .quote small { color: rgba(250, 250, 250, 1);  }
.quote small { font-size: 1em; }
.q_show {
	transform: translate3d(5%, 5%, 0);
	z-index: 9;
	transition: all 0.2s linear;
	}


.movies > .content,
.games > .content { 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	}

.movie {
	position: relative;
	width: 300px;
	height: 440px;
	margin: 24px 24px 0 0;
	overflow: hidden;
	border-radius: 3px;
	background: rgba(65, 74, 76, 0);
	box-shadow: 0px 0px 18px 0 rgba(250, 250, 250, 0.15); 
	z-index: 3;
	}
.movie img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 4;
	}
.movie .movie_btn {
	position: absolute;
	bottom: 10%;
	left: 36%;
	z-index: 5;
	}
.movie .movie_btn > svg > path {
	fill: rgba(194, 22, 22, 0.4);
	transition: all 0.15s linear;
	}
.movie:hover .movie_btn > svg > path {
	fill: rgba(194, 22, 22, 0.9);
	}
.movie .movie_trailer { display: none; }


.project {
	position: relative;
	width: 300px;
	height: 300px;
	overflow: hidden;
	outline: none;
	margin: 8px 8px 0 0;
	}
.project:last-of-type { margin: 0 0 0 0; }
.project__image {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.85;
	transition: transform 0.5s, opacity 0.5s;
	}
.project:hover .project__image {
	opacity: 1;
	}
.project__title {
	position: absolute;
	top: 0;
	left: 0;
	padding: 1em;
	color: rgba(34, 34, 34, 1);
	font-size: 1.6em;
	line-height: 1;
	transition: transform 0.3s, opacity 0.3s;
	}
.project:hover .project__title {
	opacity: 0;
	transform: translate3d(0, 20px, 0);
	}

.p__subtitle {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1em;
	color: rgba(34, 34, 34, 1);
	font-size: 1em;
	line-height: 1;
	opacity: 0;
	transition: transform 0.3s, opacity 0.3s;
	}
.project:hover .p__subtitle {
	opacity: 0.8;
	}

.info {
	padding: 1em;
	text-align: center;
	font-size: 1.5em;
	line-height: 1.8;
	}
.info > p { color: rgba(250, 250, 250, 1); }






.maincanvas { 
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
 	}



::-webkit-scrollbar {
	width: 12px;
	}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(250, 250, 250, 0.3); 
	border-radius: 10px;
	}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(250, 250, 250, 0.5); 
	}




@media screen and (max-width: 840px) {
	h1 { font-size: 1.4em; }
	h2 { font-size: 1.2em; }
	h3 { font-size: 1.2em; }
	main { margin: 10px; }
	.quote { width: 100%; }
	.section > .content { padding: 10px; }
	}

@media screen and (max-width: 480px) {
	}