*, *:before, *:after { box-sizing: border-box; margin: 0; padding: 0; }
html, body {
	min-width: 100vw;
	min-height: 100vh;
	background: rgba(34, 34, 34, 1); 
	}
body {
	opacity: 0;
	}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	}

main {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	z-index: 1;
	}

.intro,
.movies {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	}
.intro {
	transform: translate3d(0, -100%, 0);
	transition: transform 0.5s ease-in-out;
	}
.movies {
	transform: translate3d(-100%, 0, 0);
	transition: transform 0.5s ease-in-out;
	}
.show {
	transform: translate3d(0, 0, 0);
	transition: transform 0.5s ease-in-out;
	}

button {
	background: rgba(0, 0, 0, 0); 
	border: none; 
	padding: 0.4em; 
	color: rgba(240, 240, 240, 1);
	cursor: pointer;
	}
button:hover {
	background: rgba(0, 0, 0, 0); 
	border: none; 
	padding: 0.4em; 
	color: rgba(240, 240, 240, 0.5);
	}



.movies_content {
	width: 100%;
	height: 100%;
	}
.movies_header {
	background: rgba(65, 74, 76, 0.9);
	position: fixed;
	width: auto;
	height: 60px;
	top: 0;
	right: 7%;
	padding: 0 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	z-index: 3;
	}
.movies_section {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 64px;
	padding-bottom: 12px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
	z-index: 2;
	}


.movie {
	position: relative;
	width: 320px;
	height: 460px;
	margin: 12px 12px 0 0;
	}