*, *:before, *:after { box-sizing: border-box; margin: 0; padding: 0; }
html, body {
	min-width: 100vw;
	min-height: 100vh;
	background: rgba(34, 34, 34, 1); 
	}
body {
	opacity: 0;
	}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	}

main {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	z-index: 1;
	}

.intro,
.movies {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	}
.intro {
	flex-direction: column;
	transform: translate3d(0, -100%, 0);
	transition: transform 0.5s ease-in-out;
	}
.movies {
	transform: translate3d(-100%, 0, 0);
	transition: transform 0.5s ease-in-out;
	}
.show {
	transform: translate3d(0, 0, 0);
	transition: transform 0.5s ease-in-out;
	}

button {
	background: rgba(0, 0, 0, 0); 
	border: none; 
	padding: 0.4em; 
	color: rgba(240, 240, 240, 1);
	cursor: pointer;
	}
button:hover {
	background: rgba(0, 0, 0, 0); 
	border: none; 
	padding: 0.4em; 
	color: rgba(240, 240, 240, 0.5);
	}



.movies_content {
	width: 100%;
	height: 100%;
	}
.movies_header {
	background: rgba(65, 74, 76, 0.9);
	position: fixed;
	width: auto;
	height: 60px;
	top: 0;
	right: 7%;
	padding: 0 1em;
	border-radius: 0 0 4px 4px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	z-index: 3;
	}
.movies_section {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
	z-index: 2;
	}


.movie {
	position: relative;
	width: 320px;
	height: 460px;
	margin: 12px 12px 0 0;
	overflow: hidden;
	background: rgba(65, 74, 76, 0.9);
	}
.movie img {
	width: 100%;
	height: auto;
	}

.intro_quote {
	min-width: 400px;
	max-width: 1200px;
	padding: 1em;
	border-radius: 8px;
	box-shadow: 0px 0px 18px 0 rgba(250, 250, 250, 0.25);
	}
.intro_quote h1 {
	font-family: 'Scope One', serif;
	font-weight: 500;
	}
.intro_quote h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	text-align: center;
	}

.intro_btns { margin-top: 1em; }


































.cl-0 {
	background: rgba(237, 237, 237, 1);
	color: rgba(65, 74, 76, 1);
	}
.cl-1 {
	background: rgba(23, 128, 109, 1);
	color: rgba(237, 237, 237, 1);
	}
.cl-2 {
	background: rgba(21, 128, 120, 1);
	color: rgba(237, 237, 237, 1);
	}
.cl-3 {
	background: rgba(28, 169, 201, 1);
	color: rgba(237, 237, 237, 1);
	}
.cl-4 {
	background: rgba(25, 158, 189, 1);
	color: rgba(237, 237, 237, 1);
	}
.cl-5 {
	background: rgba(149, 145, 140, 1);
	color: rgba(237, 237, 237, 1);
	}
.cl-6 {
	background: rgba(35,35,35, 1);
	color: rgba(237, 237, 237, 1);
	}
.cl-7 {
	background: rgba(65,74,76, 1);
	color: rgba(237, 237, 237, 1);
	}
.cl-8 {
	background: rgba(151, 154,170, 1);
	color: rgba(35, 35, 35, 1);
	}
.cl-9 {
	background: rgba(115,102,189, 1);
	color: rgba(237, 237, 237, 1);
	}
.cl-10 {
	background: rgba(120,81,169, 1);
	color: rgba(237, 237, 237, 1);
	}
.cl-11 {
	background: rgba(59,176,143, 1);
	color: rgba(35, 35, 35, 1);
	}
.cl-12 {
	background: rgba(31,206,203, 1);
	color: rgba(35, 35, 35, 1);
	}
.cl-13 {
	background: rgba(28,211,162, 1);
	color: rgba(35, 35, 35, 1);
	}
.cl-14 {
	background: rgba(29,172,214, 1);
	color: rgba(35, 35, 35, 1);
	}
.cl-15 {
	background: rgba(43,108,196, 1);
	color: rgba(237, 237, 237, 1);
	}
.cl-16 {
	background: rgba(26,72,118, 1);
	color: rgba(237, 237, 237, 1);
	}
.cl-17 {
	background: rgba(162,173,208, 1);
	color: rgba(35, 35, 35, 1);
	}
.cl-18 {
	background: rgba(205,197,194, 1);
	color: rgba(35, 35, 35, 1);
	}
.cl-19 {
	background: rgba(197,227,132, 1);
	color: rgba(35, 35, 35, 1);
	}
.cl-20 {
	background: rgba(239,219,197, 1);
	color: rgba(35, 35, 35, 1);
	}
.cl-21 {
	background: rgba(255,189,136, 1);
	color: rgba(35, 35, 35, 1);
	}
.cl-22 {
	background: rgba(255,188,217, 1);
	color: rgba(35, 35, 35, 1);
	}
.cl-23 {
	background: rgba(252,180,213, 1);
	color: rgba(35, 35, 35, 1);
	}
.cl-24 {
	background: rgba(255,170,204, 1);
	color: rgba(35, 35, 35, 1);
	}
.cl-25 {
	background: rgba(255,164,116, 1);
	color: rgba(35, 35, 35, 1);
	}
.cl-26 {
	background: rgba(255,207,171, 1);
	color: rgba(35, 35, 35, 1);
	}
.cl-27 {
	background: rgba(255,207,72, 1);
	color: rgba(35, 35, 35, 1);
	}
.cl-28 {
	background: rgba(253,252,116, 1);
	color: rgba(35, 35, 35, 1);
	}
.cl-29 {
	background: rgba(135,169,107, 1);
	color: rgba(35, 35, 35, 1);
	}
.cl-30 {
	background: rgba(138,121,93, 1);
	color: rgba(237, 237, 237, 1);
	}
.cl-31 {
	background: rgba(159,129,112, 1);
	color: rgba(237, 237, 237, 1);
	}
.cl-32 {
	background: rgba(255,130,67, 1);
	color: rgba(237, 237, 237, 1);
	}
.cl-33 {
	background: rgba(110,81,96, 1);
	color: rgba(237, 237, 237, 1);
	}
.cl-34 {
	background: rgba(143,80,157, 1);
	color: rgba(237, 237, 237, 1);
	}
.cl-35 {
	background: rgba(192,68,143, 1);
	color: rgba(237, 237, 237, 1);
	}
.cl-36 {
	background: rgba(200,56,90, 1);
	color: rgba(237, 237, 237, 1);
	}
.cl-37 {
	background: rgba(205,74,74, 1);
	color: rgba(237, 237, 237, 1);
	}
.cl-38 {
	background: rgba(188,93,88, 1);
	color: rgba(237, 237, 237, 1);
	}
.cl-39 {
	background: rgba(253,94,83, 1);
	color: rgba(237, 237, 237, 1);
	}










@media screen and (max-width: 640px) {
	.intro_quote { 
		border-radius: 0; }
		}